@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url("typography.css");
@import url("buttons.css");
* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font: 16px/1.5/ "PT Sans", sans-serif;
}

body {
    font: 18px/1.5/ "PT Sans", sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* header */

header {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../Requirements-and-Resources/image/computer-main.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

nav {
    margin-top: 4rem;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.left a,
.right a {
    display: flex;
    text-decoration: none;
    color: white;
}

.left i,
.right i {
    margin-right: 0.5rem;
}

.content-header {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header h1 {
    margin-bottom: 2rem;
    font-size: 3.5em;
    font-weight: 500;
}

.content-header input {
    background: #00D08E;
    padding: 0.5rem 1rem;
    align-self: center;
    margin-bottom: 3rem;
    outline: none;
}

.content-header input:hover,
.content-header input:focus {
    background: transparent;
    outline: 4px solid white;
}

.content-header p {
    margin: 2rem 0;
}

header>section>p:nth-child(2),
.content-header p,
.content-header input,
.left i,
.left p,
.right i,
.right p,
header>section>a {
    font-size: 1.1em;
}

header>section>p:nth-child(2) {
    width: 70%;
    text-align: center;
}

header>section>a {
    color: white;
    text-decoration: none;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header>section>a>i {
    margin-left: 0.5rem;
}


/* main */

.first-row,
.second-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 30vw;
    width: 100vw;
}

.first-row .image-container,
.second-row .image-container,
.text-container,
.icons-container {
    width: 50vw;
}

.first-row .image-container {
    background: url("../Requirements-and-Resources/image/tablet.jpg") center center no-repeat;
    background-size: cover;
}

.second-row .image-container {
    background: url("../Requirements-and-Resources/image/pen.jpg") center center no-repeat;
    background-size: cover;
}

.first-row .text-container,
.second-row .icons-container {
    padding: 3rem;
    font-size: 1em;
}

.text-container h4,
.icons-container h4,
.text-container p {
    margin-bottom: 1rem;
}

.icons-container h4 {
    text-align: center;
    margin-bottom: 3rem;
}

.text-container ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    list-style-type: none;
}

.text-container ul li i {
    margin-right: 1rem;
    color: #00D08E;
}

.text-container ul li a {
    text-decoration: none;
    color: black;
}

.icons-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
}

.first,
.second {
    display: flex;
    justify-content: space-around;
}

.first a,
.second a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner img {
    width: 30%;
    height: auto;
    margin-bottom: 1rem;
}

.inner p {
    color: #00D08E;
    font-weight: bold;
    /* margin-bottom: 2rem; */
}

section.second-row>section.icons-container {
    padding-bottom: 1rem;
}


/* footer */

footer {
    background: #B2F1DD;
    width: 100vw;
}

footer h4 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* footer-main */

.footer-main {
    margin: 1rem 10vw;
    display: flex;
    padding-left: 3rem;
}

.footer-main>article {
    width: 20vw;
    margin-left: 3rem;
}

.footer-main article,
.footer-main article p {
    text-align: center;
}


/* footer-foot */

.footer-foot {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    margin-top: 3rem;
}

.footer-foot p {
    display: inline;
}

.footer-foot a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 0.5rem;
}