@import url('https://fonts.googleapis.com/css?family=Helvetica');
@import url('https://fonts.googleapis.com/css?family=Georgia');

html{
    padding: 5%;
    font-family: "Helvetica", sans-serif;
    line-height: 1.2;
    font-size: 16px;
}

nav{
    border-bottom: 2px solid black;
}

h1{
    font-family: "Georgia", sans-serif;
    font-weight: bolder;
}

a,p{
    text-decoration: none;
}

li{
    display: inline-block;
}

nav ul{
    list-style-type: none;
    display: inline-block;
    margin-left: 100px;
}

nav p{
    display: inline-block;
}

nav li{
    margin: 10px;
}


nav li a{
    color: green;
    font-size: inherit;
}

nav p{
    color: black;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: bolder;
}

nav li a, nav p{
    padding: 10px;
}

header nav ul li a:focus,
header nav ul li a:hover {
	outline: none;
	background: #090;
    color: #FFF;
    border-radius: 5px;
}

