body {
    background: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

div.card {
    background: rgb(255, 255, 255);
    width: 20vw;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
}