@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

p{
    width: 110px;
    border-radius: 0.2rem;
}

p a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

p:nth-child(1){
    background: green;
}

p:nth-child(2){
    background: orange;
}