* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@media only screen and (max-width:800px) {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    body {
        width: 100vw;
    }
    /* header */
    nav,
    .header-title,
    main,
    footer {
        width: 100%;
    }
    header nav,
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header nav li,
    header nav img {
        margin-bottom: 1rem;
    }
    header>section>h1,
    header>section>p:nth-child(2) {
        text-align: center;
        margin: 0 auto;
    }
    header>section>h1 {
        text-align: center;
        font-size: 1em;
    }
    header>section>p:nth-child(2) {
        font-size: 20px
    }
    header>section {
        padding-top: 1rem;
    }
    .header-title {
        padding: 0;
    }
    /* main */
    section.team-description>div>ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .team-description ul li {
        display: inline-block;
        flex: 0 50%;
        overflow: hidden;
    }
    .team-description ul li img {
        width: 80%;
        height: auto;
        padding-right: 0.5rem;
    }
    section.choose-us>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
    }
    section.blog-news>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .item {
        width: 80%;
        overflow: hidden;
        margin-top: 2rem;
    }
    /* footer */
}

@media only screen and (max-width:1100px) {
    section.team-description>div>ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .team-description ul li {
        display: inline-block;
        flex: 0 50%;
        overflow: hidden;
    }
    .team-description ul li img {
        width: 80%;
        height: auto;
        padding-right: 0.5rem;
    }
    section.choose-us>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
    }
    section.blog-news>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .item {
        width: 80%;
        overflow: hidden;
        margin-top: 2rem;
    }
}