@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

html{
    margin: 10%;
    color: white;
    font-size: 20px;
}

body > p:nth-child(1)
{
    background: green;
    border-radius: 0.2rem;
    width: 6rem;
    padding: 10px;
}

body > p:nth-child(5){
    background: orange;
    border-radius: 0.2rem;
    width: 6rem;
    padding: 10px;
}